body {
    min-height: 100vh;
}

#background {
    background: url("/images/background.jpg") top no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.form-control {
    display: inline-block;
    border-radius: 0;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 30px;
}

.navbar-default {
    background: transparent;
    border: none;
    text-align: center;
}

.navbar-nav {
    float: none;
    margin: auto;
    display: inline-block;
}

body.home.index {
    text-align: center;
}

body.home.index > .wrap > .container {
    padding: 0;
    margin: 0;
    width: 100%;
}

body.home.index > .wrap > .container > div:last-child {
    background-color: white;
}

.home-index {
}

a:hover {
    text-decoration: none;
    filter: brightness(0.4);
    opacity: 0.8
}

.home-index .signup a {
    display: inline-block;
    padding: 10px 14px;
    margin: 10px 14px;
    border-radius: 23px;
    background-color: #85bb65;
    color: white;
}

[data-name=about] {
}

.user-view .attributes > div > span:first-child:after {
    content: ':';
}
